.active-layer{
  color: black;
}

.disabled-layer{
  color: #929191;
}

.menu-layer{
  cursor: pointer;
}

.layer{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  padding: 0.4em;
  margin: 4px;
  background-color: #c5c0c0;
  border-radius: 5px;
  font-size: 0.9em;
  font-weight: 600;
}

.menu-container{
  display: flex;
  flex-direction: column;
  width: 20vw;
  background-color: grey;
  padding: 20px;
  justify-content: space-between;
  height: 100vh;
}

.acknowledgement{
    font-size: 0.5em;
    height: 2%;
}

.tool{
    background-color: #c5c0c0;
    margin: 4px;
    padding: 0.4em;
    border-radius: 5px;
    font-size: 0.9em;
}

.tool select{
    width: 70%;
    margin: 2px 2px 2px 0;
}

.tool input[type=submit]{
    right:0;
}

.bufferDist{
    width: 15%;
    margin: 3px;
}

.tools-menu-container{
    height: 50%;
    overflow: scroll;
}

.layers-menu-container{
    height: 45%;
    overflow: scroll;
}


.add-layer-container{
    background-color: #c5c0c0;
    margin: 4px;
    padding: 6px;
    border-radius: 5px;
}
form{
    border-radius: 0;
}

select{
    border-radius:0;
}
